@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");

.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

nav {
  padding: 1.5rem;
  text-align: left;
  font-size: 2rem;
  background-color: #ff4949;
  color: white;
  font-family: "Raleway", sans-serif;
}
